{{#if parent.namespace}}
/**
 * {{{description}}}
 *
 * <table><tbody><tr><th width="25%">Имя</th><th width="15%">Тип</th><th width="60%">Описание</th></tr>
{{#each children.member}}
 * <tr><td><strong>{{{name}}}</strong></td><td>{{>type nowrap=1}}</td><td>{{{description}}}</td></tr>
{{/each}}{{#each properties}}
 * <tr><td><strong>{{{name}}}</strong></td><td>{{>type nowrap=1}}</td><td>{{{description}}}</td></tr>
{{/each}}
 * </tbody></table>
 * @name {{{longname}}}
 * @type Object
 */


{{else}}
/**
 * @namespace {{{description}}}
 * @name {{{longname}}}
 * {{#if exported}}@alias {{{exported}}}{{/if}}
 * {{#if inner}}@inner{{/if}}
 * {{#if static}}@static{{/if}}
 */

{{> children children}}
{{/if}}

